.researchArea {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #121212;
  color: white;
  position: relative;
  padding: 4rem 2rem;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.9) 0%,
      rgba(23, 208, 89, 0.1) 100%
    );
  }

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
    line-height: 1.2;

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    span {
      color: #17d059;
    }
  }

  .category {
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 80vw;
    text-align: left;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    .categoryHeader {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: #17d059;
      margin-bottom: 1rem;

      svg {
        font-size: 2rem;
      }
      @media screen and (max-width: 480px) {
        font-size: 1.2rem;
      }
    }

    .schoolList {
      list-style: none;
      padding: 0;

      .schoolItem {
        font-size: 1.2rem;
        color: #e5e5e5;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-left: 3px solid #17d059;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: white;
          transform: translateX(5px);
        }
      }
    }
  }

  .primaryButton {
    background-color: #17d059;
    color: #121212;
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken(#17d059, 5%);
      transform: translateY(-2px);
    }
  }
}
